* {
  margin: 0;
  top: 0;
}

/* Navbar & Home section  */
.home_img {
  background: url("/image/20bff1046ecd5cdb69378a4f5b5add5b.jpeg");
  background-size: cover;
  width: 100%;
  height: 680px;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.trangel_first {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-left: 1500px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 50px solid white;
}

.home_img::before {
  position: absolute;
  width: 100%;
  height: 680px;
  content: "";
  background: linear-gradient(10deg, #1c1c1c, transparent);
}

.home_navbar {
  width: Fixed (1, 280px) px;
  height: Hug (96px) px;
  padding: 20px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
}

.navbar_logo {
  width: 308.83px;
  height: 56px;
  gap: 0px;
  opacity: 0px;
}

.navbar_ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 24px;
  opacity: 0px;
}

.navbar_li {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.navbar_li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 21.79px;
  text-align: left;
  color: #3c3c3c;
}

.navbar_button {
  width: Hug (147px) px;
  height: Hug (46px) px;
  padding: 12px 20px 12px 20px;
  gap: 10px;
  border-radius: 12px;
  opacity: 0px;
  background-color: #14c69e;
  color: white;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
}

.home_text_div {
  width: Fixed (938px) px;
  height: Hug (141px) px;
  top: 417px;
  left: 108px;
  gap: 24px;
  opacity: 0px;
  left: 10%;
  position: absolute;
  color: white;
}

.home_text {
  font-family: Poppins;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0.04em;
  text-align: left;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2830,30,30,0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Our story  section*/
.blank_section_start {
  width: 1280px;
  height: 120px;
  gap: 0px;
  opacity: 0px;
  background-color: white;
  color: white;
}
.our_story_img_div {
  padding-right: 0;
}
.our_story_img {
  width: 100%;
  height: 580px;
  object-fit: cover;
}
.our_story_content h1 {
  color: #3c3c3c;
  padding-top: 17.5px;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.04em;
  text-align: left;
}
.story_text_div {
  width: 520px;
  height: 345px;
  gap: 0px;
  opacity: 0px;
  padding-top: 40px;
}
.our_story_content {
  width: Fill (640px) px;
  height: Hug (545px) px;
  padding: 0px 60px 0px 60px;
  gap: 40px;
  opacity: 0px;
}
.our_story_content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.72px;
  text-align: left;
  color: #626262;
}
.our_story_logos {
  padding-top: 40px;
  gap: 12px;
}
.over_story_section {
  padding-bottom: 120px;
}
.our_story_logos img {
  width: 100%;
  height: 100%;
  padding: 20px 0px 20px 0px;
  gap: 10px;
  opacity: 0px;
  object-fit: contain;
}

/* Our story section */
/* about section */
.about_content_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 580px;
  width: 640px;
  padding-top: 118px;
  padding-bottom: 118px;
}
.about_content_div h1 {
  color: #3c3c3c;
  width: 520px;
  height: 120px;
  gap: 0px;
  opacity: 0px;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.04em;
  text-align: left;
}
.about_content_div p {
  width: 520px;
  height: 184px;
  gap: 0px;
  opacity: 0px;
  color: #626262;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.72px;
  text-align: left;
  margin-top: 40px;
}
.about_img {
  padding-left: 0px;
  padding-right: 0px;
}
.about_img img {
  width: 100%;
  height: 580px;
  gap: 0px;
  opacity: 0px;
  object-fit: cover;
}
/* about section */
/* review section */
.review_section {
  margin: 60px 0;
}
.review_heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0.04em;
  text-align: center;
  margin-bottom: 6%;
  color: #3c3c3c;
  padding-bottom: 80px;
}
.review_card_container {
  padding: 0px 108px;
  width: Fixed (1, 280px) px;
  height: Hug (475px) px;
  padding: 0px 108px 0px 108px;
  opacity: 0px;
}
.review_card img {
  width: 236px;
  height: 376px;
  object-fit: cover;
}
.review_card_text {
  width: Fill (236px) px;
  height: Hug (59px) px;
  gap: 60px;
  opacity: 0px;
  margin-top: 40px;
}
.review_card_text h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32.69px;
  text-align: left;
}
.review_card_text h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: left;
  color: #3c3c3c;
}
/* review section */
/* apply section */

.apply_section {
  background-size: cover;
  width: 100%;
  height: 494;
  background-repeat: no-repeat;
  padding-left: 0;
  overflow: hidden;
}
.trangel_second {
  width: 100%;
  height: 100%;
  position: relative;
  border-right: 1500px solid transparent;
  border-left: 0 solid transparent;
  border-top: 30px solid white;
}
.apply_section::before {
  position: absolute;
  width: 100%;
  height: 494px;
  content: "";
  background: linear-gradient(1deg, #003087, #0070e1);
}
.apply_div1_container {
  top: 80px;
  left: 108px;
  gap: 80px;
  opacity: 0px;
}
.apply_div1 {
  color: white;
  width: 640px;
  height: 54px;
  gap: 0px;
  opacity: 0px;
}
.apply_div1 h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0.04em;
  text-align: left;
}
.apply_div1 ul {
  width: Fill (640px) px;
  height: Hug (200px) px;
  gap: 20px;
  opacity: 0px;
  padding-left: 3%;
  padding-top: 6%;
}
.apply_div1 li {
  padding-top: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.79px;
  text-align: left;
}
.apply_div2_container {
  height: 494px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}

.apply_div2 h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0.04em;
  text-align: center;
  color: white;
}
.apply_div2 button {
  gap: 40px;
  opacity: 0px;
  width: 50%;
  margin-top: 2%;
  border-radius: 12px;
  background-color: #14c69e;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

/* apply section */
/* blank section */
.blank_section {
  width: 1280px;
  height: 280px;
  gap: 0px;
  opacity: 0px;
  background-color: white;
  color: white;
}
/* blank section */
/* footer section */
.footer {
  background-color: #062353;
  color: #cdcdcd;

  padding-bottom: 40px;
  overflow: hidden;
}
.trangel_third {
  width: 100%;
  height: 100%;
  position: relative;
  top: -50px;
  border-left: 1200px solid transparent;
  border-right: 2px solid transparent;
  border-top: 50px solid white;
}

.footer h5 {
  font-weight: bold;
  margin-top: 126px;
  margin-bottom: 20px;
}

.footer ul {
  padding-left: 0;
  list-style: none;
}

.footer ul li a {
  color: #cdcdcd;
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer .form-inline {
  display: flex;
  flex-wrap: nowrap;
}

.footer .form-inline .form-control {
  width: auto;
  flex-grow: 1;
}

.footer .img-fluid {
  max-width: 100%;
  height: auto;
}

.footer_text {
  border-left: 1px solid #cdcdcd;
  height: 50px;
  width: 100%;
  margin-left: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.btn_submit {
  background-color: #14c69e;
  color: white;
  border-radius: 0px 10px 10px 0px;
  right: 20px;
  position: relative;
}
.footer_logo {
  width: 248.17px;
  height: 45px;
  top: -0.5px;
  gap: 0px;
  opacity: 0px;
  object-fit: cover;
}
.footer_end_text {
  margin-top: 16px;
}

/* footer section */
